	<div class="col-sm-8 col-sm-offset-2">
		<h3>Manutenção, inspeção, preparação, ajuste, reparo e limpeza</h3>
		<div class="row">
			<div class="col-md-12">
				<label class="control-label" for="">M.I.P.A.R.L</label>
				<div class="input-group">
					<select ng-model="controller.miparlSelec" name="miparl"
						class="form-control"
						ng-options="miparl as miparl.nome for miparl in controller.miparls track by miparl.id" ng-change="controller.changeMip()">
						<option value="">Selecione uma opção</option>
					</select>
					<span class="input-group-btn">
						<button type="button" class="btn" ng-class="{'btn-default':!controller.miparlSelec, 'btn-success':controller.miparlSelec}" ng-click="controller.adicionaMiparl()" ng-disabled="controller.btnIncluirMip">
							<span class=" glyphicon glyphicon-plus"></span>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="table-responsive col-md-12">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>M.I.P.A.R.L</th>
							<th>Descrição</th>
							<th class="actions">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="mip in controller.laudo.miparls">
							<td>
								{{mip.nome}}
							</td>
							<td>
								{{mip.descricao | limitTo: 50}}
							</td>
							<td class="actions">
								<button ng-click="controller.removeMiparl(mip)" class="btn btn-danger btn-xs" title="Excluir">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3">
								<p ng-show="controller.laudo.miparls.length">M.I.P.A.R.L cadastrados: {{controller.laudo.miparls.length}}</p>
								<p class="text-info" ng-hide="controller.laudo.miparls.length">Não há M.I.P.A.R.L cadastrados</p>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	
